:root {
  --dark-bg: #070707;
  --light-bg: #424242;
  --gradient-bg: linear-gradient(45deg, #161618, #2e2e30);
  --box-shadow-light: 30px 30px 60px 0 rgba(0, 0, 0, 0.37);
  --box-shadow-dark: 30px 30px 60px 0 rgba(0, 0, 0, 0.8);
  --text-primary: #ffffff;
  --text-secondary: #bfbfbf;
  --text-highlight: #9bda00;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: var(--light-bg);
}

a {
  text-decoration: none;
  color: inherit;
}
